<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form th:method="POST" th:action="@{forgotten}">
    <label for="username">Введите логин для которого хотите поменять:</label>
    <input type="text" name="username" id="username">
    <div th:if="${param.error}" style="color: red">Такого логина не существует!</div>
    <br/>
    <label for="password">Введите новый пароль:</label>
    <input type="password" name="password" id="password">
    <br/>
    <input type="submit" value="Изменить"/>
</form>
</body>
</html>